/* Footer.css */
.footer {
    background-color: #333; /* Background color of the footer */
    color: white; /* Text color */
    text-align: center;
    padding: 10px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .footer-link {
    color: #ffffff; /* Default link color */
    text-decoration: none;
  }
  
  /* Active link style */
  .footer-link.active {
    color: #007bff; /* Color for active link */
    font-weight: bold; /* Apply other styles as needed */
  }